.user-team_team-menu-and-content__content___discuss_____alldiscuss {
    height: 456px;
    overflow: auto;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss p {
    text-align: center;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: 20px 0 0 20px;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    width: 88%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________nameandtime {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 1px solid rgb(216, 216, 216);
    width: 100%;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______avatar {
    margin: 0 12px 0 0;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______avatar img {
    height: 40px;
    width: 40px;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________nameandtime_________timedate {
    margin: 0 0 0 20px;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________nameandtime_________timedate p {
    font-weight: normal;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________nameandtime_________fullname {
    font-weight: bold;
    width: 80%;
    text-align: left;
    cursor: pointer;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________nameandtime_________fullname:hover {
    color: blue;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________content {
    width: 100%;
    height: 40px;
    margin: -8px 0 0 0;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________content p {
    text-align: left;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________reply {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________reply:hover {
    color: blue;
}

.user-team_team-menu-and-content__content___discuss____createnew {
    background-color: rgb(219, 206, 206);
    user-select: none;
    text-align: left;
    line-height: 54px;
}

.user-team_team-menu-and-content__content___discuss____createnew button {
    height: 32px;
    margin: 0 0 0 54px;
    cursor: pointer;
}

.user-team_team-menu-and-content__content___discuss____createnew____createnewinput {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 0 0 20px;
}

.user-team_team-menu-and-content__content___discuss____createnew____createnewinput div:first-child {
    width: 84%;
}

.user-team_team-menu-and-content__content___discuss____createnew____createnewinput input {
    height: 28px;
    width: 100%;
    border: none;
    background-color: rgb(219, 206, 206);
    border-bottom: groove;
    border-bottom-color: blue;
    outline: none;
}

.user-team_team-menu-and-content__content___discuss____createnew____createnewinput div i {
    width: 32%;
    height: 32px;
    color: rgb(88, 85, 85);
    cursor: pointer;
}

.user-team_team-menu-and-content__content___discuss____createnew____createnewinput div i:hover {
    color: red;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________send {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    user-select: none;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________send div:first-child {
    width: 100%;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________send div:first-child input {
    width: 100%;
    border: none;
    border-bottom: groove;
    border-bottom-color: rgb(72, 255, 0);
    outline: none;
    height: 32px;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput div i {
    color: rgb(88, 85, 85);
    cursor: pointer;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput div i:hover {
    color: red;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________comment {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    font-size: 12px;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________comment_____________avatar {
    width: 48px;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________comment_____________commentbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________comment_____________commentbox__________nameandtime {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________comment_____________commentbox___________fullname {
    margin: 0 32px 0 4px;
    font-weight: bold;
    cursor: pointer;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________comment_____________commentbox___________fullname:hover {
    color: blue;
}

.user-team_team-menu-and-content__content___discuss_____alldiscuss_____discuss_______discussbox________discussreplyinput_________comment_____________commentbox__________content {
    margin: -12px 0 0 4px;
}

.user-team_team-menu-and-content__content___discuss____member-chat {
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 76px;
    height: 320px;
    width: 400px;
    cursor: move;
    background-color: rgb(226, 225, 225);
    z-index: 1000;
    border-radius: 4px;
    display: none;
}

.user-team_team-menu-and-content__content___discuss____member-chat:hover {
    border-color: rgb(255, 5, 5);
}

.user-team_team-menu-and-content__content___discuss____member-chat______avatar-fullname {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: groove;
    height: 40px;
    background-color: rgb(252, 252, 252);
    user-select: none;
}

.user-team_team-menu-and-content__content___discuss____member-chat______avatar-fullname______avatar img {
    width: 40px;
    margin: 0 4px 0 4px;
}

.user-team_team-menu-and-content__content___discuss____member-chat______avatar-fullname______fullname {
    width: 80%;
}

.user-team_team-menu-and-content__content___discuss____member-chat______avatar-fullname______fullname p {
    font-weight: bold;
}

.user-team_team-menu-and-content__content___discuss____member-chat______avatar-fullname______close-box {
    cursor: pointer;
}

.user-team_team-menu-and-content__content___discuss____member-chat______avatar-fullname______close-box i:hover {
    color: blue;
    font-weight: bold;
}

.user-team_team-menu-and-content__content___discuss____member-chat______team-chat-content {
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row; */
    border: groove;
    height: 240px;
    overflow: auto;
}

.user-team_team-menu-and-content__content___discuss____member-chat______send-message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.user-team_team-menu-and-content__content___discuss____member-chat______send-message input {
    width: 360px;
    margin: 0 2px 0 2px;
    height: 20px;
}

.user-team_team-menu-and-content__content___discuss____member-chat______send-message i {
    cursor: pointer;
}

.user-team_team-menu-and-content__content___discuss____member-chat______send-message i:hover {
    color: blue;
}